<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Login</title>
  <link rel="stylesheet" href="templates/sty.css">
</head>
<body>
  <header>
    <h1>Admin Login</h1>
    <li><a href="/">Home</a></li>
  </header>
  <main>
    <section class="login-section">
      <form class="login-form">
        <div class="input-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="uname" required>
        </div>
        <div class="input-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="pwd" required>
        </div>
        <button type="submit" class="login-button">Login</button>
      </form>
    </section>
  </main>
  <footer>
    <p>&copy; 2023 Canteen Name. All rights reserved.</p>
  </footer>
</body>
</html>
